{% extends ':site:index.html.twig' %}

{% block header %}
    <div id="header-content">
        <img class="header-img" src="{{asset('./images/fond-page-evenements.jpg')}}" />
    </div>
{% endblock %}

{% block section %}

    {#Boucle qui va rappeler les différents articles autant de fois qu'ils sont demandés
    dans la section Evènement#}
        <div class="container-fluid photo_event">
            <div class="row">
                {% for evenements in annonceEvent %}
                    <div class="changementCouleur col-sm-6 col-md-4 event">
                        <div class="thumbnail thumbEvent">
                            <img class="img-section" src="{{asset('uploads/images/')~evenements.photo}}" class="img-responsive">  
                            <h2 class="titleEvent">{{evenements.titre}} |</h2>
                            <p class="info">{{evenements.ville}}</p>
                            <p class="info">{{evenements.lieuxExposition}}</p>
                            <p class="titleEvent"> {{evenements.date|date('d/m/y')}} |</p>
                            <p class="titleEvent">{{evenements.auteur}}</p>
                            <div class="comm_suite">
                                <p class="commentaire">{{evenements.commentaire| truncate(150, true, ' ...')}}</p>
                                <p class="suite"><a href="{{path('detailevenement', {'id':evenements.id})}}">Voir la suite</a></p>
                            </div>

                        </div>
                    </div>    

                {% endfor %}

            </div>
        </div>

{% endblock %}
