{% extends ':site:index.html.twig' %}

{% block header %}
    <div class="header">
        <img class="header-img" src="{{asset('./images/fond-page-evenements.jpg')}}" />
    </div>
{% endblock %}

{% block section %}
    
    {#Boucle qui va rappeler les différents articles autant de fois qu'ils sont demandés
    dans la section Evènement#}
    
    <div class="container">
    <div class="row">
        {% for evenements in annonceEvent %}
            <div class="col-sm-6 col-md-12">
               <img src="{{asset('uploads/images/')~evenements.photo}}" class="img-responsive">
                <h2>{{evenements.titre}}</h2>
                <p>{{evenements.ville}}</p>
                <p>{{evenements.lieuxExposition}}</p>
                <p>{{evenements.commentaire}}</p>
                <p>{{evenements.date|date('d/m/y')}}</p>
                <p>{{evenements.auteur}}</p>
             </div>    
                
        {% endfor %}
   
    </div>
    </div>

{% endblock %}