{% extends ':site:index.html.twig' %}

{% block section %}
    
    {#Boucle qui va rappeler les différents articles autant de fois qu'ils sont demandés
    dans la section Photo#}
    
    <div class="container">
    <div class="row">
        {% for photos in annoncePhotos %}
            <div class="col-sm-6 col-md-12">
                <img src="" class="img-responsive">
                <h2>{{photos.titre}}</h2>
                <p>{{photos.ville}}</p>
                <p>{{photos.appareilPhotoUtilise}}</p>
                <p>{{photos.commentaire}}</p>
                <p>{{photos.date}}</p>
                <p>{{photos.auteur}}</p>
             </div>    
                
        {% endfor %}
   
    </div>
    </div>
    

{% endblock %}