{% extends ':site:index.html.twig' %}

{% block header %}
    <div class="header">
        <img class="header-img" src="{{asset('./images/fond-page-photos.jpg')}}" />
    </div>
{% endblock %}

{% block section %}

    {#Boucle qui va rappeler les différents articles autant de fois qu'ils sont demandés
    dans la section Photo#}

    <div id="photo">
        <div class="container-fluid detail">
            <div class="row">
                {% for photos in annoncePhotos %}
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="thumbnail">
                            <img class="img-section" src="{{asset('uploads/images/')~photos.photo}}" class="img-responsive">  
                            <h2 class="title">{{photos.titre}} |</h2>
                            <p class="appareil">{{photos.appareilPhotoUtilise}}</p>
                            <p class="commentaire">{{photos.commentaire}}</p>
                            <p class="date"> {{photos.date|date('d/m/y')}} |</p>
                            <p class="ville">{{photos.ville}}</p>
                            <p class="auteur">{{photos.auteur}}</p>
                        </div>
                    </div>    

                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}