{% extends ':site:index.html.twig' %}

{% block header %}
    <div id="header-content">
        <img class="header-img" src="{{asset('./images/fond-page-photos.jpg')}}" />
    </div>
{% endblock %}

{% block section %}

    {#Boucle qui va rappeler les différents articles autant de fois qu'ils sont demandés
    dans la section Photo#}


    <div class="container-fluid detail">
        <div class="row">
            {% for photos in annoncePhotos %}
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="thumbnail detailPage">
                        <img class="img-section" src="{{asset('uploads/images/')~photos.photo}}" class="img-responsive">  
                        <h2 class="titledetail">{{photos.titre}}</h2>
                        <p class="appareil">{{photos.appareilPhotoUtilise}}</p>
                        <p class="commentaire">{{photos.commentaire}}</p>
                        <div class="renseignement">
                            <p class="date"> {{photos.date|date('d/m/y')}}</p>
                            <p class="ville">{{photos.ville}}</p>
                            <p class="auteur">{{photos.auteur}}</p>
                        </div>
                    </div>
                    <a type="button" class="btn btn-info boutonDetail" href="{{path('photo')}}">Retour</a>

                </div>    

            {% endfor %}

        </div>
    </div>


{% endblock %}
