<!Doctype HTML>
<HTML lang="fr-fr">
    <HTML>
        <head>
            <meta charset="utf-8">
            <title> Photograff du dimanche </title>
            {#Lien du css#}
            <link rel="stylesheet" href="{{asset('../vendor/twbs/bootstrap/dist/css/bootstrap.min.css')}}">
            <link rel="stylesheet" href="{{asset('./css/news_css/main.css')}}">
            <link rel="stylesheet" href="{{asset('./css/font-awesome.min.css')}}">
        </head>
        <body>
            <div id="container">
                
                {% block header %}
               
              
               {% endblock %}
                
                {#Barre de Nav avec Bootstrap#}
                
                <nav id="nav" class="navbar navbar-default" data-spy="affix" data-offset-top="100">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        {#Différents lien de la barre de nav#}
                        
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a class="js-scrollTo" href="{{path('home')}}">Accueil<span class="sr-only"></span></a></li>
                                <li><a class="js-scrollTo" href="{{path('photo')}}">Photos</a></li>
                                <li><a class="js-scrollTo" href="{{path('evenement')}}">Evènements</a></li>
                                <li><a class="js-scrollTo" href="{{path('login')}}">Se connecter</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                {% block section %}
                    <div class="">
                        <p>
                        PAGE D'ACCUEIL
                        </p>
                    </div>
                {% endblock %}
                
                {#Footer avec les informations sur les dev#}
                
                <footer class="footer">
                    <div class="container">
                        <div class="credit">
                            <p> Le site des beaux gosses </p>
                        </div>
                    </div>
                </footer>
            </div>
                
               {#Lien du javascript#}
                
            <script type="text/javascript" src="{{asset('../vendor/twbs/bootstrap/js/tests/vendor/jquery.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('./js/main.js')}}"></script>
        </body>
    </html>