<!Doctype HTML>
<HTML lang="fr-fr">
    <HTML>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, user-scalable=no">
            <title> Photograff du dimanche </title>
            {#Lien du css#}
            <link rel="stylesheet" href="{{asset('../vendor/twbs/bootstrap/dist/css/bootstrap.min.css')}}">
            <link rel="stylesheet" href="{{asset('./css/news_css/main.css')}}">
            <link rel="stylesheet" href="{{asset('./css/font-awesome.min.css')}}">
        </head>
        <body>
            <div id="container">

                {% block header %}
                    <div class="header" id="header-home">
                        <img class="header-img" src="{{asset('./images/fond-home.jpg')}}" />
                        <div class="titre">
                            <img class="img-responsive"src="{{asset('./images/visu-logo-home.png')}}" />
                        </div>
                    </div>


                {% endblock %}

                {#Barre de Nav avec Bootstrap#}

                <nav id="nav" class="navbar navbar-default" data-spy="affix" data-offset-top="100">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="">
                                <img alt="Logo" src="{{asset('./images/logo.png')}}">
                            </a>
                        </div>

                        {#Différents lien de la barre de nav#}

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a class="" href="{{path('home')}}">Accueil<span class="sr-only"></span></a></li>
                                <li><a class="" href="{{path('photo')}}">Photos</a></li>
                                <li><a class="" href="{{path('evenement')}}">Evènements</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="connexion"><a class="" href="{{path('login')}}">Connexion</a></li>

                            </ul>
                        </div>
                    </div>
                </nav>
                {% block section %}

                {% endblock %}

                {#Footer avec les informations sur les dev#}

                <footer class="footer">
                    <div class="container">
                        <div class="credit">
                            <p class="copy"> Copyright Photograff 2016 - Tous droits réservés</p>
                            <p class="dev"> <b>Développement : <a href="{{asset('http://www.viendev.fr/')}}" target="new"> Vivien<span>,</span> </a><a href="{{asset('http://www.matthieuverquera.fr/')}}" target="new"> Matthieu<span>,</span> </a><a href="{{asset('http://www.jimmy-friedblatt.fr/')}}" target="new">Jimmy <span>et</span> </a><a href="{{asset('http://www.hl-developerz.com/')}}" target="new">Hugues</a></b></p>
                        </div>
                        <div class="groupsocial">
                        <a class="social socialface" href="{{asset('https://www.facebook.com/')}}" target="new" ><i class="fa fa-facebook"></i></a>
                        <a class="social socialtwit" href="{{asset('https://twitter.com/?lang=fr')}}" target="new" ><i class="fa fa-twitter"></i></a>
                        <a class="social socialinsta" href="{{asset('https://www.instagram.com/')}}" target="new" ><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </footer>
            </div>

            {#Lien du javascript#}

            <script type="text/javascript" src="{{asset('../vendor/twbs/bootstrap/js/tests/vendor/jquery.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('./js/main.js')}}"></script>
        </body>
    </html>
