{%extends ":admin:index.html.twig"%}

{% block body %}
    
    <a href="{{path("formphotos")}}"><h1> ajouter un post photos</h1></a>  
    <div class="container">
    <div class="row">
        {% for photos in brouillonPhoto %}
            <div class="col-sm-6 col-md-12">
                <img src="" class="img-responsive">
                <h2>{{photos.titre}}</h2>
                <p>{{photos.ville}}</p>
                <p>{{photos.appareilPhotoUtilise}}</p>
                <p>{{photos.commentaire}}</p>
                <p>{{photos.date}}</p>
                <p>{{photos.auteur}}</p>
             </div>    
                
        {% endfor %}
   
    </div>
    </div>
    
 {% endblock %}  
