{%extends ":admin:index.html.twig"%}

{% block body %}
    <div class="grouplienajout">
        <div class="div1">
            <div class="icon">
                <i class="fa fa-calendar-o"></i>
            </div>
            <a class="lienajout" href="{{path("formAddEvent")}}"><h1>Ajouter un post</h1></a>
        </div>
            <div class="div2">
                <div class="icon">
                    <i class="fa fa-thumb-tack"></i>
                </div>
                <a class="lienajout" href="{{path('eventBrou')}}"><h1>Mes brouillons</h1></a>
            </div>
    </div>
    <div id="event">
        <div class="container-fluid photo_event">
            <div class="row">
                {% for evenements in annonceEvent %}
                    <div class="changementCouleur col-xs-12 col-sm-12 col-md-12">
                        <div class="thumbnail">
                            <img src="" class="img-responsive">
                            <img class="img-section" src="{{asset('uploads/images/')~evenements.photo}}" class="img-responsive"/>
                            <h2 class="title">{{evenements.titre}} |</h2>
                            <p class="info">{{evenements.ville}}</p>
                            <p class="info">{{evenements.lieuxExposition}}</p>
                            <p class="commentaire">{{evenements.commentaire}}</p>
                            <p class="title"> {{evenements.date|date('d/m/y')}} |</p>
                            <p class="title">{{evenements.auteur}}</p>
                            <div class="bouton">                                                   
                                <a type="button" class="btn btn-info" href="{{path('editEvent',{'id':evenements.id})}}">Modifier</a>
                                <a type="button" class="btn btn-danger" href="{{path('suprEvent',{'id':evenements.id})}}">Suppr</a>
                            </div> 
                        </div>                           
                    </div>

                    {%endfor%}
            </div>
        </div>
    </div>
        {% endblock %}
