<!DOCTYPE html>
  <html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
     <title>Welcome!</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{asset('../vendor/twbs/bootstrap/dist/css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{asset('./css/news_css/main.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{asset('./css/font-awesome.min.css')}}"/>
  </head>

    <body>
        
        <div class="messageBienvenue">
            <h1>hello compere</h1>
        </div><!---------fin-blog------------->
        <nav id="nav" class="navbar navbar-default" data-spy="affix" data-offset-top="100">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <img class="col-lg-1" src="{{asset('uploads/images/')~(app.user.image)}}"  class=" img-circle" height="100" >
                                <li><a class="js-scrollTo" href="{{path('admin')}}">Accueil<span class="sr-only"></span></a></li>
                                <li><a class="js-scrollTo" href="{{path('annoncePhotos')}}">Photos</a></li>
                                <li><a class="js-scrollTo" href="{{path('annonceEvent')}}">Evènements</a></li>
                                <li><a class="js-scrollTo" href="{{path('editUser',{'id':(app.user.id)})}}">Mon Compte</a></li>
                                <li><a class="js-scrollTo" href="{{path('loginOut')}}">Se Déconnecter</a></li>
                            </ul>
                        </div>
                    </div>
                            
                </nav>
{% block body %}
    
    {% endblock %}
    
      <script type="text/javascript" src="{{asset('../vendor/twbs/bootstrap/js/tests/vendor/jquery.min.js')}}"></script>
     
</body>

</html>