<!DOCTYPE html>
  <html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
     <title>Welcome!</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{asset('../vendor/twbs/bootstrap/dist/css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{asset('./css/news_css/main.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{asset('./css/font-awesome.min.css')}}"/>
  </head>

    <body>
        
        <div id="messageBienvenue">
            <h1>hello compere</h1>
        </div><!---------fin-blog------------->
        
{% block body %}
    
    {% endblock %}
    
      <script type="text/javascript" src="{{asset('../vendor/twbs/bootstrap/js/tests/vendor/jquery.min.js')}}"></script>
     
</body>

</html>