<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <title>Welcome!</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{asset('./css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('./css/news_css/main.css')}}">
        <link rel="stylesheet" href="{{asset('./css/font-awesome.min.css')}}">
    </head>

    <body>

        <div class="messageBienvenue">
            <h1>Salut {{(app.user.name)}} </h1>
            <img  src="{{asset('uploads/images/')~(app.user.image)}}"  class=" img-circle" height="100" >
        </div><!---------fin-blog------------->


        <nav id="nav" class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        
                        <li class="monBlog"><a href="{{path('home')}}">Mon blog</a></li>
                        {# Dropdown Rubrique Photos #}
                        <li class="dropdown">  
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button">Rubrique Photos <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{path('annoncePhotos')}}">Mes Publications</a></li>
                                <li  class="divider"></li>
                                <li><a href="{{path('photoBrou')}}">Mes brouillons</a></li>
                            </ul>
                        </li>
                        {# Dropdown Rubrique Evènements #}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rubrique Evènements <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="js-scrollTo" href="{{path('annonceEvent')}}">Mes Publications </a></li>
                                <li class="divider"></li>
                                <li><a href="{{path('eventBrou')}}">Mes brouillons</a></li>
                            </ul>
                        </li>
                        <li><a class="js-scrollTo" href="{{path('editUser',{'id':(app.user.id)})}}">Mon compte</a></li>
                        <li><a class="js-scrollTo" href="{{path('loginOut')}}">Se Déconnecter</a></li>
                    </ul>
                </div>
            </div>

        </nav>

        {% block body %}
            {% for photos in annoncePhotos %}
                <div class="changementCouleur col-xs-12 col-sm-12 col-md-12">
                    <div class="thumbnail couleur">
                        <img class="img-section" src="{{asset('uploads/images/')~photos.photo}}" class="img-responsive"/>
                        <h2 class="title">{{photos.titre}}</h2>
                        <p>{{photos.ville}}</p>
                        <p>{{photos.appareilPhotoUtilise}}</p>
                        <p>{{photos.commentaire}}</p>
                        <p class="title"> {{photos.date|date('d/m/y')}} |</p>
                        <p class="title">{{photos.auteur}}</p>
                    </div>    
                </div>
                {% endfor %}
        {% endblock %}
                
                
        <script type="text/javascript" src="{{asset('./js/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('./js/bootstrap.min.js')}}"></script>



    </body>

</html>
