{%extends ":admin:index.html.twig"%}

 
{% block body %}
    <div class="grouplienajout">
        <div class="div1">
            <div class="icon">
                <i class="fa fa-camera"></i>
            </div>
            <a class="lienajout" href="{{path("formphotos")}}"><h1>Ajouter un post</h1></a>
        </div>
            <div class="div2">
                <div class="icon">
                    <i class="fa fa-thumb-tack"></i>
                </div>
                <a class="lienajout" href="{{path('photoBrou')}}"><h1>Mes brouillons</h1></a>
            </div>
    </div>
    <div class="container-fluid photo_event">
        <div class="row">
            {% for photos in annoncePhotos %}
                <div class="changementCouleur col-xs-12 col-sm-12 col-md-12">
                    <div class="thumbnail couleur">
                        <img class="img-section" src="{{asset('uploads/images/')~photos.photo}}" class="img-responsive"/>
                        <h2 class="title">{{photos.titre}}</h2>
                        <p>{{photos.ville}}</p>
                        <p>{{photos.appareilPhotoUtilise}}</p>
                        <p>{{photos.commentaire}}</p>
                        <p class="title"> {{photos.date|date('d/m/y')}} |</p>
                        <p class="title">{{photos.auteur}}</p>
                        <div class="bouton">                                                   
                            <a type="button" class="btn btn-info" href="{{path('modifphotos',{'id':photos.id})}}">Modifier</a>
                            <a type="button" class="btn btn-danger" href="{{path('delatephotos',{'id':photos.id})}}">Supprimer</a> 
                        </div>
                    </div>    
                </div>
                {% endfor %}

            
        </div>
    </div>
    
 {% endblock %}  
